.task {
  -webkit-user-select: none;
  align-items: center;
  border-bottom: 1px solid $color-lightGray;
  cursor: pointer;
  display: flex;
  padding: 16px;
}

.task-title {
  font: 15px 'Helvetica Neue';
  padding-left: 12px;
}

.task-title--completed {
  color: gray;
}
